# ---> .gitignore
.vscode/settings.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-5b35695b5e25b4c86225.json
build/.cmake/api/v1/reply/codemodel-v2-3bfd60efcde314ee13db.json
build/.cmake/api/v1/reply/index-2021-08-11T01-54-48-0255.json
build/.cmake/api/v1/reply/target-WebServer-Release-311edceacd2a02cc4105.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdC/a.out
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/WebServer.dir/build.make
build/CMakeFiles/WebServer.dir/cmake_clean.cmake
build/CMakeFiles/WebServer.dir/CXX.includecache
build/CMakeFiles/WebServer.dir/depend.internal
build/CMakeFiles/WebServer.dir/depend.make
build/CMakeFiles/WebServer.dir/DependInfo.cmake
build/CMakeFiles/WebServer.dir/flags.make
build/CMakeFiles/WebServer.dir/link.txt
build/CMakeFiles/WebServer.dir/progress.make
build/CMakeFiles/WebServer.dir/src/http_conn.cpp.o
build/CMakeFiles/WebServer.dir/src/main.cpp.o
build/cmake_install.cmake
build/CMakeCache.txt
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/Makefile
build/WebServer
